.vs/Snake/DesignTimeBuild/.dtbcache.v2
.vs/Snake/FileContentIndex/17bf9186-9a45-4f34-9a5a-068bfa8318a2.vsidx
Snake/bin/Debug/net8.0-windows/Snake.deps.json
Snake/bin/Debug/net8.0-windows/Snake.dll
Snake/bin/Debug/net8.0-windows/Snake.dll.config
Snake/bin/Debug/net8.0-windows/Snake.exe
Snake/bin/Debug/net8.0-windows/Snake.pdb
Snake/bin/Debug/net8.0-windows/Snake.runtimeconfig.json
Snake/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Snake/obj/Debug/net8.0-windows/apphost.exe
Snake/obj/Debug/net8.0-windows/ref/Snake.dll
Snake/obj/Debug/net8.0-windows/refint/Snake.dll
Snake/obj/Debug/net8.0-windows/Snake.AssemblyInfo.cs
Snake/obj/Debug/net8.0-windows/Snake.AssemblyInfoInputs.cache
Snake/obj/Debug/net8.0-windows/Snake.assets.cache
Snake/obj/Debug/net8.0-windows/Snake.csproj.BuildWithSkipAnalyzers
Snake/obj/Debug/net8.0-windows/Snake.csproj.CoreCompileInputs.cache
Snake/obj/Debug/net8.0-windows/Snake.csproj.FileListAbsolute.txt
Snake/obj/Debug/net8.0-windows/Snake.csproj.GenerateResource.cache
Snake/obj/Debug/net8.0-windows/Snake.designer.deps.json
Snake/obj/Debug/net8.0-windows/Snake.designer.runtimeconfig.json
Snake/obj/Debug/net8.0-windows/Snake.dll
Snake/obj/Debug/net8.0-windows/Snake.GeneratedMSBuildEditorConfig.editorconfig
Snake/obj/Debug/net8.0-windows/Snake.genruntimeconfig.cache
Snake/obj/Debug/net8.0-windows/Snake.GlobalUsings.g.cs
Snake/obj/Debug/net8.0-windows/Snake.pdb
Snake/obj/Debug/net8.0-windows/Snake.sourcelink.json
Snake/obj/Debug/net8.0-windows/Snake.UI.Form1.resources
Snake/obj/Debug/net8.0-windows/Snake.UI.Options.resources
Snake/obj/project.assets.json
Snake/obj/project.nuget.cache
Snake/obj/Snake.csproj.nuget.dgspec.json
Snake/obj/Snake.csproj.nuget.g.props
Snake/obj/Snake.csproj.nuget.g.targets
